{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Dmitry Kavtaskin</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'image/favicon (1).ico' %}"/>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class="wrapper page-header">
		<header class="header">
		<img src="{% static 'image/logo-black.png' %}" alt="Dmitry Kavtaskin" class="logo-black">
    	</header><!-- .header-->
		<main class="content">
			{% block content %}
			{% endblock %}
		</main><!-- .content -->
	</div><!-- .wrapper -->
	<footer class="footer">
		<span class="footer_name">2017. Test blog.</span>
	</footer><!-- .footer -->
</body>
</html>