{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <h1><a href="https://vk.com/frela309b">40-309Б</a></h1>
    <div>
        <body>
        <div class="parent">
            <table border="1">
                <caption>Расписание 309 группы на весенний семестр.</caption>
                <tr>
                    <td rowspan="4">ПН</td>
                    <td>9:00</td>
                    <td colspan="2">Политология</td>
                    <td>408 (7)</td>
                    <td>Рыбаков Андрей Вячеславович</td>
                </tr>
                <tr>
                    <td>10:45</td>
                    <td colspan="2">Оптоэлектроника</td>
                    <td>317 (7)</td>
                    <td>Картуков Андрей Владимирович</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td colspan="2">Измерительная аппаратура анализа защищенности </td>
                    <td>317 (7)</td>
                    <td>Сухарев Александр Дмитриевич</td>
                </tr>
                <tr>
                    <td>14:45</td>
                    <td colspan="2">Физвоспитание</td>
                    <td>каф</td>
                    <td></td>
                </tr>

                <tr>
                    <td rowspan="8">ВТ</td>
                    <td rowspan="4">13:00</td>
                    <td>402К - 324 (24б)</td>
                    <td>402К - 328 (24б)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">21 фев, 7 мар, 21 мар, 4 апр.</td>
                    <td align="right">14 фев, 28 фев, 14 мар, 28 мар.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>402К</td>
                    <td>402К</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">18 апр, 2 мая, 16 мая, 30 мая.</td>
                    <td align="right">11 апр, 25 апр, 9 мая, 23 мая.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">16:30</td>
                    <td>402К - 326 (24б)</td>
                    <td>407К - 118 (24б)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">21 фев, 7 мар, 21 мар, 4 апр.</td>
                    <td align="right">14 фев, 28 фев, 14 мар, 28 мар.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>402К</td>
                    <td>402К - 328 (24б)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">16 мая, 30 мая.</td>
                    <td align="right">11 апр, 25 апр, 9 мая, 23 мая.</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="5">СР</td>
                    <td>9:00</td>
                    <td colspan="2">Особенности каналов утечки информации в современной электронной аппаратуре</td>
                    <td>328 (24б)</td>
                    <td>Сухарев Дмитрий Александрович</td>
                </tr>
                <tr>
                    <td>10:45</td>
                    <td colspan="2">Основы теории систем и комплексов радиоэлектронной борьбы </td>
                    <td>409А (7)</td>
                    <td>Куприянов Александр Ильич</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td colspan="2">Основы теории систем и комплексов радиоэлектронной борьбы </td>
                    <td>409А (7)</td>
                    <td>Куприянов Александр Ильич</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td colspan="2">Методы защищенного доступа в беспроводных каналах передачи данных</td>
                    <td>409А (7)</td>
                    <td>Витомский Евгений Владиславович</td>
                </tr>
                <tr>
                    <td>14:45</td>
                    <td colspan="2">Методы защищенного доступа в беспроводных каналах передачи данных</td>
                    <td>409А (7)</td>
                    <td>Витомский Евгений Владиславович</td>
                </tr>

                <tr>
                    <td rowspan="5">ЧТ</td>
                    <td>9:00</td>
                    <td colspan="2">Электронный документооборот</td>
                    <td>212 (7)</td>
                    <td>Дикий Владимир Васильевич</td>
                </tr>
                <tr>
                    <td>10:45</td>
                    <td colspan="2">Иностранный язык</td>
                    <td>203 (7)</td>
                    <td>Олифиренко Светлана Михайловна</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td colspan="2">Политология</td>
                    <td>317 (7)</td>
                    <td>Рыбаков Андрей Вячеславович</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>14:45</td>
                    <td colspan="2">Физвоспитание</td>
                    <td>каф</td>
                    <td></td>
                </tr>

                <tr rowspan="4">
                    <td >ПТ</td>
                    <td >9:00</td>
                    <td colspan="2">Военная подготовка</td>
                    <td ></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="4">СБ</td>
                    <td>9:00</td>
                    <td colspan="2">Аудит безопасности объектов информатизации </td>
                    <td>315 (7)</td>
                    <td>Толкачев Владислав Иванович</td>
                </tr>
                <tr>
                    <td>9:00</td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10:45</td>
                    <td colspan="2">Аудит безопасности объектов информатизации </td>
                    <td>315 (7)</td>
                    <td>Толкачев Владислав Иванович</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td colspan="2">Исследование операций </td>
                    <td>315 (7)</td>
                    <td>Витомский Евгений Владиславович</td>
                </tr>
            </table>
        </div>
        </body>
    </div>
</body>
</html>